@import
url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
 box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAAAAA;
  border-radius: 5px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BBBBBB;
}

html {
font-family: Poppins;
}

.font-inter {
font-family: Inter;
}

.btn_primary {
    @apply ring-1 inline-flex items-center ring-[#3D56F5] rounded-[10px]  bg-[#3D56F5] px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-[#2F43BE]/90;
}

.btn_secondary {
    @apply ring-1 inline-flex items-center ring-slate-500 rounded-[10px]  bg-slate-500 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-slate-600/90;
}

/*Animate Loading*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
